{% block content %}
<footer class="footer">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-4">
				<a href="" class="logo">
					<img src="img/logo-footer.png" alt="">
					<span class="logo__subtitle">Газоаналитическая  система</span>
				</a>
			</div>
			<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-2-10">
				<ul class="footer-nav">
					<li><a href="#">Комплектация</a></li>
					<li><a href="#">Применение</a></li>
					<li><a href="#">О компании</a></li>
				</ul>
			</div>
			<div class="uk-width-1-1 uk-width-medium-2-4 uk-width-large-3-10">
				<div class="company-contacts">
					<div class="address">
						<div class="label">Адрес:</div>
						<div class="text">
							г.Москва, ул. Переменых д 12, офис 245
						</div>
					</div>
					<div class="email">
						<div class="label">Почта:</div>
						<div class="text">
							<a href="mailto:info@nikilect.ru">info@nikilect.ru</a>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4">
				<div class="footer__tel">
					<a href="tel:+74954445634" class="telephone">+7 (495) 444-56-34</a>
					<a href="#feedback-modal" class="btn btn--yellow" data-uk-modal>Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}

